{% extends 'base.html.twig' %}

{% block title %}Formulaire des Articles{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <h1>Formulaire Article</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">

            {{ form_row(form.description) }}
            {{ form_row(form.quantiteDisponible) }}
            {{ form_row(form.fournisseur) }}

        </div>
        <div class="col-6">
            {{ form_row(form.designation) }}
            {{ form_row(form.prix) }}
        </div>
    </div>
 {{ 1|stars }} <br>
    la date d'aujourd'hui est : {{ 'now'|dateFr }}
    <br>
    mon numéro est : {{ '0615504745'|formatPhone }}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
    {% for article in articles %}
    {{ article.quantiteDisponible }}
    {% endfor %}

{% endblock %}
